# Grad-CAM generated images
static/gradcam/

# Temp uploaded images
temp_*.jpg

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
expenv/
venv/

# model weights
*.pt
*.pth

# system
.DS_Store
Thumbs.db

# logs
*.log

# IDE
.vscode/
.idea/

# dataset
data/
dataset/